body {
  background-color: white;
 }
 
 input {
  display: block;
  width: 95%;
  margin: 3px 0;
  border-radius: 4px;
  border-color: lightgray;
 }
 
 p {
  color: 'black';
  font-size: 20px;
  text-align: left;
 }
 
 .calculator {
  display: flex;
  justify-content: center;
 }
 
 .form {
  background-color: white;
  width: 50%;
  border-radius: 4px;
  margin-top: 30px;
 }
 
 .form-items {
  align-items: center;
  margin-bottom: 3px;
 }
 
 .button {
  background-color: black;
  color: green;
  border: none;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
 }
 
 .button:hover {
  opacity: 0.8;
 }
 
 #label {
   color: lightgreen;
  font-size: 12px;
  text-align: left;
 }