body {
  background-color: lightblue;
}

input {
  display: block;
  width: 95%;
  margin: 3px 0;
  border-radius: 4px;
  border-color: lightgray;
}

p {
  color: "black";
  font-size: 20px;
  text-align: left;
}
.button {
  background-color: black;
  color: green;
  border: none;
  margin: 10px 0;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}
.calculator {
  align-items: center;
  justify-content: center;
}
.card {
  align-items: center;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.column {
  background-color: gray;
  width: 30%;
}

.form {
  background-color: white;
  width: 50%;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-items {
  align-items: center;
  margin-bottom: 3px;
}

#label {
  color: lightgreen;
  font-size: 12px;
  text-align: left;
}
.listGroup {
  background-color: gray;
  font-size: medium;
  height: fit-content;
  width: 100%;
  overflow: scroll;
}
.listGroupHeader {
  align-self: center;
}
.listGroupItem {
  background-color: lightgray;
  font-size: large;
  height: 90%;
  width: 80%;
}
.projectManager {
  background-color: greenyellow;
  width: 70%;
}
